<launch>
    <node name="result_node" pkg="ros_game" type="result_node.py" output="screen"/>
    <node name="game_node" pkg="ros_game" type="game_node.py" output="screen"/>
    <node name="control_node_pygame" pkg="ros_game" type="control_node_pygame.py" output="screen"/>
    <node name="info_user" pkg="ros_game" type="info_user.py" output="screen"/>
    <!--node name="control_node" pkg="ros_game" type="control_node.py" output="screen"/-->
</launch>